h1{
    display: flex;
    font-size: 18px;
    //padding-bottom: px;
    padding-top: 15px;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 5px;
    //padding-top: 0px;
}

h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 5px;
    //padding-top: 0px;
}

.padding-all{
    padding: 5px;
}

.top_padding-5px{
    padding-bottom : 20px;
}