.dashboard-container{
    .pageStyle{
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
        width: 8vw;
        height: 12vh;
        border-radius: 10px;
    }
}