.homePage-container{

    .mainBlock{
        margin-top: 25px;
    }
    .mainBlockClosed{
        margin-left: 80px;
    }

    .mainBlockOpen{
        margin-left: 260px;
    }

    // .welcome{
    //     background: radial-gradient(#525252, #131313);
    //     color:white;
    //     height: 100vh;
    //     align-items: center;
    //     .introduction{
    //         transform: translate(50% , 50%)
            
    //     }
    // }
}